@tailwind base;
@tailwind components;
@tailwind utilities;



#root {
  width: 100vw !important;
  overflow: hidden;
}
* {
  max-width: unset !important;
}

iframe {
  transform: scale(1.6);
  transform-origin: center center;
}

html, body {
  overflow: hidden;
}
